.bg{
	height: 9em;
	width: 9em;
	margin-top: -7em;
	margin-left: 6em;
	border-radius: 50%;
}


html, body{
	height: 100%;
	position: relative;
	background-image: linear-gradient(to right, #4ca1af , #185a9d, #4ca1af);
	background-size: cover;
	height: 100%;
}

.body-home{

}

.form{
	padding-top: 12em;
}

.form-container{
	border-radius: 2em;
	padding:2em;
	box-shadow: 0px 0px 1em 0px;
	height: 30em;
	width: 25em;
}

.form-check{
	padding-top:2em;
	text-align: center;
}

.need-margin{
	margin-top: 2em;
}

/* .inner-addon {
    position: relative;
}

.inner-addon .fa {
  	position: absolute;
  	padding: 10px;
  	pointer-events: none;
}
.left-addon .fa  {
 	left:  0px;

}
.left-addon input {
	padding-left: 40px;
} */

.left{

}

.right{

}
